In [4]:
import pandas as pd
import sqlalchemy
import psycopg2
from sqlalchemy import Column, Integer, String, Float, Date, ForeignKey

In [5]:
#read in data
major_cities_df = pd.read_csv('Resources/output/major_cities_df.csv')
museums_df = pd.read_csv('Resources/output/museums_df.csv')
trip_advisor_df = pd.read_csv('Resources/output/trip_advisor_df.csv')

In [6]:
#connect python to postgresql
con = psycopg2.connect(user = 'postgres',
                       host = 'localhost',
                       port = '5432',
                       password = 'jacky@2023')
con.autocommit = True
cursor = con.cursor()
sql = '''CREATE DATABASE us_museums_db'''
cursor.execute(sql)
con.get_dsn_parameters()

{'user': 'postgres',
 'dbname': 'postgres',
 'host': 'localhost',
 'port': '5432',
 'tty': '',
 'options': '',
 'sslmode': 'prefer',
 'sslcompression': '0',
 'gssencmode': 'prefer',
 'krbsrvname': 'postgres',
 'target_session_attrs': 'any'}

In [8]:
engine = sqlalchemy.create_engine('postgresql://postgres:jacky%402023@localhost:5432/us_museums_db')
#tables
museums_df.to_sql(
    'museums',
    engine,
    if_exists='replace',
    index=False,
    #chunksize=1000,
    dtype={
        'Museum ID': Integer,
        'Museum Name': String,
        'Museum Type': String,
        'Latitude': Float,
        'Longitude': Float,
        'Income': Float,
        'Revenue': Float
    }
)
trip_advisor_df.to_sql(
    'trip_advisor',
    engine,
    if_exists='replace',
    index=False,
    #chunksize=1000,
    dtype={
        'Museum Name': String,
        'Latitude': Float,
        'Longitude': Float,
        'Rank': Integer,
        'Rating': Float,
        'Review Count': String
    }
)
major_cities_df.to_sql(
      'major_cities',
      engine,
    if_exists='replace',
    index=False,
    #chunksize=1000,
    dtype={
        'City': String,
        'State': String,
        'Latitude': Float,
        'Longitude': Float,
        'Population': Integer
    }
)

#Alter
with engine.connect() as con:
    con.execute(
        'ALTER TABLE museums ADD PRIMARY KEY ("Museum Name")'
    )
    con.execute(
        'ALTER TABLE major_cities ADD PRIMARY KEY ("City")'
    )
    con.execute(
        'ALTER TABLE trip_advisor ADD PRIMARY KEY ("Museum Name")'
    )